<div class="container">
  <div class="restaurant-info">
    <h2 class="restaurant-header"><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p>
      <% if @restaurant.rating == 1 %>
        <%= "⭐️" %>
      <% elsif @restaurant.rating == 2 %>
        <%= "⭐️ ⭐️" %>
      <% elsif @restaurant.rating == 3 %>
        <%= "⭐️ ⭐️ ⭐️" %>
      <% elsif @restaurant.rating == 4 %>
        <%= "⭐️ ⭐️ ⭐️ ⭐️" %>
      <% else @restaurant.rating == 5 %>
        <%= "⭐️ ⭐️ ⭐️ ⭐️ ⭐️" %>
      <% end %>
    </p>
  </div>

  <div class="plate-list">
    <% @restaurant.plates.each do |plate| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= plate.name %></h2>
          <p>
            <% if @restaurant.rating == 1 %>
              <%= "⭐️" %>
            <% elsif @restaurant.rating == 2 %>
              <%= "⭐️ ⭐️" %>
            <% elsif @restaurant.rating == 3 %>
              <%= "⭐️ ⭐️ ⭐️" %>
            <% elsif @restaurant.rating == 4 %>
              <%= "⭐️ ⭐️ ⭐️ ⭐️" %>
            <% else @restaurant.rating == 5 %>
              <%= "⭐️ ⭐️ ⭐️ ⭐️ ⭐️" %>
            <% end %>
          </p>
          <p>¥<%= plate.price %></p>
          <p><%= plate.comment %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="action">
    <%= link_to "Add a New Plate", new_restaurant_plate_path(@restaurant), class: 'btn btn-add' %>
  </div>

</div>
